@import "tailwindcss";


@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.skeleton-shimmer {
    background: linear-gradient(90deg,
            #f3f4f6 0%,
            #e5e7eb 50%,
            #f3f4f6 100%);
    background-size: 1000px 100%;
    animation: shimmer 1.8s infinite linear;
}